---
BasedOnStyle: LLVM
IndentWidth: 2
Language:        Cpp
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Linux 
BinPackArguments: false
BinPackParameters: false
InsertTrailingCommas: None
